<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @drug_store.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @drug_store.email %>
</p>

<p>
  <strong>Web page url:</strong>
  <%= @drug_store.web_page_url %>
</p>

<p>
  <strong>Logo img url:</strong>
  <%= @drug_store.logo_img_url %>
</p>

<%= link_to 'Edit', edit_drug_store_path(@drug_store) %> |
<%= link_to 'Back', drug_stores_path %>
