<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @drug_store_branch.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @drug_store_branch.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @drug_store_branch.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @drug_store_branch.longitude %>
</p>

<%= link_to 'Edit', edit_drug_store_branch_path(@drug_store_branch) %> |
<%= link_to 'Back', drug_store_branches_path %>
